*{padding: 0;margin: 0;box-sizing: border-box;}
body{font-family: Arial;overflow-x: hidden;overflow-y: scroll;}
@keyframes headerHearth{
  0%{transform: scale(1);}
  10%{transform: scale(1.2);}
  20%{transform: scale(1);}
  30%{transform: scale(1.2);}
  40%{transform: scale(1);}
  100%{transform: scale(1);}
}
[pseudo-before]:before{content: attr(pseudo-before);}
.header{display: flex;padding: 10px;background-color: #eee;align-items: center;margin-bottom: 5px;}
.header--logo{width: 20%;position: relative;color: #e66;font-family: Arial, sans-serif;font-size: 22px;}
.header--logo:before{content: '♥ ';color: #e99;animation: headerHearth 1.4s infinite;display: inline-block;margin-right: 6px;}
.header--logo:after{content: '://icon.font';color: #999;font-size: 18px;}
.header--search{width: 70%;}
.header--input{width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 4px;}
.header--count{width: 10%;text-align: right;}
.header--counter{height: 17px;padding: 0 4px;line-height: 17px;font-family: Verdana;text-align: center;background-color: #e66;color: #fff;border-radius: 20px;font-size: 13px;display: inline-block;}
.icon--title{width: 100%;padding: 4px 20px 2px;font-size: 20px;text-align: center;background-color: #e66;color: #fff;margin-bottom: 10px;position: relative;transition: background-color .6s, color .6s;}
.icon--toggle, .icon--network{position: absolute;right: 2px;top: 2px;width: 24px;height: 24px;background-color: #fff;border-style: none;cursor: pointer;transition: background-color .6s;}
.icon--toggle:before{content: '';border: 7px solid transparent;border-bottom-color: #e66;transition: border-bottom-color .6s, transform .6s;transform-origin: 50% 11px;position: absolute;top: 1px;right: 4px;}
.icon--network{right: 28px;transition: background-color .6s;text-decoration: none;}
.icon--network:before{content: '\1f5a7';font-size: 20px;line-height: 24px;color: #e66;transition: color .6s;}
.icon--title-active{background-color: #ddd;color: #bbb;}
.icon--title-active .icon--toggle, .icon--title-active .icon--network{background-color: #999;}
.icon--title-active .icon--toggle:before{transform: rotate(180deg);border-bottom-color: #bbb;display: block;}
.icon--title-active .icon--network:before{color: #bbb;}
.icon--title-active .icon--version{color: #bbb;}
.icon--version{font-size: 10px;font-weight: lighter;display: inline-block;transform: translateY(-2px);color: #fbb;transition: color .6s;}
.icon--wrap{margin: 0 10px 10px;display: flex;flex-wrap: wrap;}
.icon--wrap-active{display: none;}
.icon--item{width: 10.6%;margin: .2%;border: 1px solid #eee;border-radius: 3px;padding: 3px;text-align: center;position: relative;}
.icon--item-hidden{display: none;}
.icon--unicode{position: absolute;right: 3px;top: 3px;padding: 3px 5px;border-radius: 2px;background-color: #ddd;color: #666;font-size: 10px;}
.icon--name{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 12px;background-color: #eee;padding: 3px 4px;}
.icon--symbol{font-size: 40px;color: #777;height: 46px;}
.log{position: fixed;left: 50%;top: 0;opacity: 0;transform: translate(-50%, -45px);transform-origin: 50% 100%;font-size: 14px;background-color: #7c4;color: #fff;padding: 6px 15px;border-radius: 4px;transition: transform .3s, opacity .3s;}
.log--success{transform: translate(-50%, 5px);opacity: 1;}
@media (max-width: 768px){
  .header{flex-wrap: wrap;}
  .header--logo{width: 100%;text-align: center;}
  .header--search{width: 80%;}
  .header--count{width: 20%;text-align: center;}
  .icon--item{width: 24.6%;padding-top: 30px;}
}