@mixin device($point) {
	@if $point == pc {
		@media (min-width: 997px) { @content ; }
	}
	@else if $point == tablet {
		@media (max-width: 996px) { @content ; }
	}
	@else if $point == mobile {
		@media (max-width: 480px)  { @content ; }
	}
	@else if $point == mobileLand {
		@media (max-width: 600px)  { @content ; }
	}
}

.cf {
	  &:before
	, &:after{content: "";display: block;}
}
.cf:after{clear: both;}
.ta-c{text-align: center;}
.ta-r{text-align: right;}
.ta-l{text-align: left;}
.va-t{vertical-align: top;}
.va-m{vertical-align: middle;}
.va-b{vertical-align: bottom;}
.d-n{display: none;}
.d-ib{display: inline-block;}
.d-b{display: block;}
.fl-l{float: left;}
.wrap{width: 100%;margin-left: auto;margin-right: auto;position: relative;}
._text,._submit,._back,._cancel{display: inline-block;}
noscript p{position: fixed;left: 3px;top: 3px;right: 3px;background-color: #c00;color: #fff;font-family: Arial;font-size: 30px;padding: 20px;z-index: 9999;}

/* GRID 20 COLLUMNS */
$grid-width: 5%;
%col-init{float: left;min-height: 1px;padding-left: 3px;padding-right: 3px;}
@for $i from 1 through 20 {
	.col-#{$i} {
		@extend %col-init;
		width: $grid-width*$i;
	}
}
@for $i from 1 through 19 {
	.-col-#{$i} {
		margin-left: $grid-width*$i;
	}
}
.col-33{width: 33.3%;@extend %col-init;}
.col-r{padding-right: 0;}
.col-l{padding-left: 0;}
.col-rl,.col-lr{padding-left: 0;padding-right: 0;}
@include device(pc) {
	.m{display: none;}
	.t{display: none;}
}

@include device(tablet) {
	.t-col-20{width: 20%;margin-left: 0;}
	.t-col-25{width: 25%;margin-left: 0;}
	.t-col-33{width: 33.3333%;margin-left: 0;}
	.t-col-50{width: 50%;margin-left: 0;}
	.t-col-75{width: 75%;margin-left: 0;}
	.t-col-80{width: 80%;margin-left: 0;}
	.t-col-100{width: 100%;margin-left: 0;}
}
@include device(mobileLand) {
	.m-col-20{width: 20%;margin-left: 0;}
	.m-col-25{width: 25%;margin-left: 0;}
	.m-col-33{width: 33.3333%;margin-left: 0;}
	.m-col-50{width: 50%;margin-left: 0;}
	.m-col-75{width: 75%;margin-left: 0;}
	.m-col-80{width: 80%;margin-left: 0;}
	.m-col-100{width: 100%;margin-left: 0;}
}